{% extends 'base.html' %}

{% block topbar %}
<div class="bar w3-top w3-dark-grey padding-8-y">
  <div class="w3-bar">
    {% include 'general/title.html' %}
    <a onclick="document.getElementById('prefsDialog').style.display='block'" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right">
      <i class="icon fa fa-gear"></i>
    </a>
    <a id="toggleSearchbar" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right" onClick="toggleSearch()">
      <i class="icon fa fa-search"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
{% include 'general/prefs_dialog.html' %}
{% include 'tag/add_dialog.html' %}
{% include 'tag/edit_dialog.html' %}
{% include 'tag/delete_dialog.html' %}
{% include 'general/overlay_button_add.html' %}

<ul id="searchable" class="w3-ul">
{% for tag in tags %}
  <li id="{{ tag.id }}" class="padding-0">
    <div onclick="collapseEntry(this)" class="tagName w3-hover-light-gray padding-16 pointer">
      {{ tag.tag }}
      <i class="collapsable-icon icon fa fa fa-angle-down w3-right"></i>
    </div>
    <div class="collapsable w3-hide w3-border-top w3-border-light-gray">
      <div class="w3-bar">
        <a {{ 'onclick=openEditTagDialog(this,' + tag.id|string + ');' if tag.userId == userId }} class="{{ 'w3-disabled' if tag.userId != userId }} w3-bar-item w3-button w3-text-dark-grey w3-hover-white w3-hover-text-blue w3-right" href="#">
          <i class="icon fa fa fa-pencil"></i>
        </a>
        <a {{ 'onclick=openDeleteTagDialog(' + tag.id|string + ');' if tag.userId == userId }} class="{{ 'w3-disabled' if tag.userId != userId }} w3-bar-item w3-button w3-text-dark-grey w3-hover-white w3-hover-text-blue w3-right" href="#">
          <i class="icon fa fa fa-trash"></i>
        </a>
      </div>
      <div class="padding-16-x">
        {{ tag.tag }}
      </div>
      <div class="w3-margin-top w3-margin-bottom">
        <!-- placeholder for linked workouts, equipment and movements -->
      </div>
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
<script>
  function openEditTagDialog(element, tagId) {
    tagName = element.parentNode.parentNode.parentNode.getElementsByClassName('tagName')[0].innerText;
    document.getElementById('editTagName').value = tagName;
    document.getElementById('editTagForm').action = '{{ url_for(request.endpoint) }}' + tagId + '/update';
    document.getElementById('editTagDialog').style.display='block';
  }
  function openDeleteTagDialog(tagId) {
    document.getElementById('deleteTagForm').action = '{{ url_for(request.endpoint) }}' + tagId + '/delete';
    document.getElementById('deleteTagDialog').style.display='block';
  }
</script>
{% endblock %}
