<div id="addWorkoutDialog" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:600px">
    <div class="w3-container w3-border-bottom">
      <h3>New workout</h3>
    </div>
    <span onclick="document.getElementById('addWorkoutDialog').style.display='none'" class="w3-button w3-hover-white w3-hover-text-blue w3-display-topright">&times;</span>
    <form method="post" action="{{ url_for(request.endpoint) }}add">
      <div class="w3-container w3-section">
        <input name="name" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Workout name" required>
        <textarea name="description" class="w3-input w3-border" rows="7" type="text" placeholder="Workout description" required></textarea>
      </div>
      <div class="w3-container w3-border-top">
        <button class="w3-button w3-blue w3-section w3-padding w3-right" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
