{% extends 'base.html' %}

{% block topbar %}
<div class="bar w3-top w3-dark-grey padding-8-y">
  <div class="w3-bar">
    {% include 'title.html' %}
    <a onclick="document.getElementById('addScoreDialog').style.display='block'" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right">
      <i class="icon fa fa-plus-circle"></i>
    </a>
    {% if workout.userId != 1 %}
    <a onclick="document.getElementById('editWorkoutDialog').style.display='block'" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right">
      <i class="icon fa fa-pencil"></i>
    </a>
    <a onclick="document.getElementById('deleteWorkoutDialog').style.display='block'" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right">
      <i class="icon fa fa-trash"></i>
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}

{% include 'workout/edit_dialog.html' %}
{% include 'workout/delete_dialog.html' %}
{% include 'score/add_dialog.html' %}
{% include 'score/edit_dialog.html' %}

<div class="w3-margin">
  <h2>{{ workout.name }}</h2>
  {% autoescape false %}
    <p>{{ workout.description | replace("\n", "<br />") }}</p>
  {% endautoescape %}
</div>
{% if scores | length > 1 %}
  <canvas id="chart"></canvas>
{% endif %}
{% if scores | length > 0 %}
  <table class="w3-table w3-bordered w3-hoverable">
    {% for score in scores %}
    <tr id="{{ score.id }}" class="openEditScoreDialog w3-hover-light-gray">
      <td class="scoreRx w3-padding-16">
        {% if score.rx == 1 %}
        <span class="w3-badge w3-gray w3-small">Rx</span>
        {% endif %}
      </td>
      <td class="scoreDatetime w3-padding-16">{{ get_format_timestamp(score.datetime) }}</td>
      <td class="scoreValue w3-padding-16">{{ score.score }}</td>
      <td class="scoreNote w3-padding-16">{{ score.note }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock %}

{% block script %}
<script>
$('.openEditScoreDialog').click(function() {
  let scoreId = $(this).attr('id');
  document.getElementById('editScoreDialog').style.display='block';
  $('#editScoreValue').val($(this).find('.scoreValue').text());
  $('#editScoreDatetime').val($(this).find('.scoreDatetime').text());
  $('#editScoreNote').val($(this).find('.scoreNote').text());
  if($(this).find('.scoreRx').children().length > 0) {
    $("#editScoreRx").prop('checked', true);
  } else {
    $("#editScoreRx").prop('checked', false);
  }
  $('#editScoreForm').attr('action', '{{ url_for(request.endpoint, workout_id=workout.id) }}/score/' + scoreId + '/update');
  $('#deleteScoreBtn').attr('formaction', '{{ url_for(request.endpoint, workout_id=workout.id) }}/score/' + scoreId + '/delete');
});

var ctx = document.getElementById('chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
          {% for score in scores %}
            "{{ get_format_timestamp(score.datetime) }}",
          {% endfor %}
        ],
        datasets: [{
            data: [
              {% for score in scores %}
                "{{ timestamp_to_sec(score.score) }}",
              {% endfor %}
            ]
        }]
    },
    options: {
      layout: {
        padding: {
          left: 0,
          right: 0,
          top: 10,
          bottom: 0,
        },
      },
      tooltips: {
        cornerRadius: 5,
        backgroundColor: 'rgba(33, 150, 243, 0.25)',
        titleFontColor: '#343a40',
        bodyFontColor: '#343a40',
        footerFontColor: '#343a40',
        borderWidth: 2,
        borderColor: 'rgba(33, 150, 243, 0.5)',
        displayColors: false,
        footerMarginTop: 0,
      },
      elements: {
        point: {
          radius: 5,
          hoverRadius: 6,
          hitRadius: 1,
          hoverBorderWidth: 2,
          borderColor: 'rgba(12, 58, 95, 0.1)',
          backgroundColor: 'rgba(12, 58, 95, 0.1)',
        },
        line: {
          borderWidth: 3,
          borderColor: 'rgba(33, 150, 243, 1.0)',
          backgroundColor: 'rgba(33, 150, 243, 0.10)',
        },
      },
      scales: {
        yAxes: [{
          display: false,
          ticks: {
            display: false,
            beginAtZero: true,
          },
          gridLines: {
            display: true,
          },
        }],
        xAxes: [{
          display: false,
          ticks: {
            display: false,
            beginAtZero: true,
          },
          gridLines: {
            display: false,
          },
        }],
      },
      legend: {
        display: false,
      },
      showLine: true,
      responsive: true,
      maintainAspectRatio: true,
      aspectRatio: 3
    },
});
</script>
{% endblock %}
