{% extends 'base.html' %}

{% block content %}
{% include 'general/overlay_button_add.html' %}
{% include 'score/add_dialog.html' %}
{% include 'score/edit_dialog.html' %}
{% include 'score/delete_dialog.html' %}
{% if workout.userId == userId %}
  {% include 'workout/edit_dialog.html' %}
  {% include 'workout/delete_dialog.html' %}
{% endif %}

<div class="w3-bar w3-border-light-gray w3-border-bottom padding-8">
{% if workout.userId == userId %}
  <a onclick="openEditWorkoutDialog('{{ url_for(request.endpoint, workout_id=workout.id) }}')"
    class="w3-bar-item w3-button w3-round w3-blue w3-text-white w3-right margin-4-x"
    href="#">
    <i class="icon fa fa fa-pencil"></i>
  </a>
  <a onclick="openDeleteWorkoutDialog('{{ url_for(request.endpoint, workout_id=workout.id) }}')"
    class="w3-bar-item w3-button w3-round w3-red w3-text-white w3-right margin-4-x"
    href="#">
    <i class="icon fa fa fa-trash"></i>
  </a>
{% else %}
  <a class="w3-bar-item w3-button w3-round w3-blue w3-text-white w3-right w3-disabled margin-4-x"
    href="#" id="btn-edit-workout-hide">
    <i class="icon fa fa fa-pencil"></i>
  </a>
  <a class="w3-bar-item w3-button w3-round w3-red w3-text-white w3-right w3-disabled margin-4-x"
    href="#" id="btn-delete-workout-hide">
    <i class="icon fa fa fa-trash"></i>
  </a>
{% endif %}
</div>

<div class="w3-margin">
  <h2>{{ workout.name }}</h2>
    <p>
      {% for item in workout.description.splitlines() %}
        {{ item }}<br />
      {% endfor %}
    </p>
    <div class="w3-margin-top">
      {% for tag in workout.tags %}
        <span class="w3-badge w3-blue w3-round-small padding-4-y padding-8-x">
            {{ tag.tag }}
        </span>
      {% endfor %}
    </div>
</div>
{% if scores | length > 1 %}
  <canvas id="chart"></canvas>
{% endif %}
{% if scores | length > 0 %}
<ul class="w3-ul">
  {% for score in scores | reverse %}
  <li class="padding-0 w3-border-light-gray">
    <div onclick="collapseEntry(this)"
      class="padding-16 pointer">
      {% if score.rx == 1 %}
        <span class="scoreRx w3-badge w3-small w3-blue w3-round-small w3-margin-right padding-4-y padding-8-x ">
          Rx
        </span>
      {% else %}
        <span class="w3-badge w3-small w3-light-gray w3-round-small w3-margin-right padding-4-y padding-8-x ">
          <del>Rx</del>
        </span>
      {% endif %}
      <span class="scoreDatetime w3-small w3-margin-left w3-margin-right">
        {{ get_format_timestamp(score.datetime) }}
      </span>
      <span class="scoreValue w3-margin-left">
        {{ score.score }}
      </span>
      <i class="collapsable-icon icon fa fa fa-angle-down w3-right"></i>
    </div>
    <div class="collapsable w3-hide w3-border-top w3-border-light-gray">
      <div class="w3-bar">
        <a onclick="openEditScoreDialog('{{ url_for(request.endpoint, workout_id=workout.id) }}', {{ score.id }}, this)"
          class="w3-bar-item w3-button w3-text-dark-grey w3-hover-white w3-hover-text-blue w3-right"
          href="#">
          <i class="icon fa fa fa-pencil"></i>
        </a>
        <a onclick="openDeleteScoreDialog('{{ url_for(request.endpoint, workout_id=workout.id) }}', {{ score.id }})"
          class="w3-bar-item w3-button w3-text-dark-grey w3-hover-white w3-hover-text-blue w3-right"
          href="#">
          <i class="icon fa fa fa-trash"></i>
        </a>
      </div>
      <div class="scoreNote w3-margin-bottom padding-16-x">
        {% if score.note %}
          {% for item in score.note.splitlines() %}
            {{ item }}<br />
          {% endfor %}
        {% else %}
          no note
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/workout/handle_dialog.js') }}"></script>
<script src="{{ url_for('static', filename='js/score/handle_dialog.js') }}"></script>
<script>
var ctx = document.getElementById('chart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
          {% for score in scores %}
            "{{ get_format_timestamp(score.datetime) }}",
          {% endfor %}
        ],
        datasets: [{
            data: [
              {% for score in scores %}
                "{{ timestamp_to_sec(score.score) }}",
              {% endfor %}
            ]
        }]
    },
    options: {
      layout: {
        padding: {
          left: 0,
          right: 0,
          top: 10,
          bottom: 0,
        },
      },
      tooltips: {
        xPadding: 10,
        yPadding: 10,
        cornerRadius: 5,
        backgroundColor: 'rgba(33, 150, 243, 0.20)',
        titleFontColor: '#343a40',
        bodyFontColor: '#343a40',
        footerFontColor: '#343a40',
        borderWidth: 0,
        borderColor: 'rgba(33, 150, 243, 0.5)',
        displayColors: false,
        caretPadding: 10,
        caretSize: 5,
      },
      elements: {
        point: {
          radius: 5,
          hoverRadius: 6,
          hitRadius: 1,
          hoverBorderWidth: 2,
          borderColor: 'rgba(12, 58, 95, 0.1)',
          backgroundColor: 'rgba(12, 58, 95, 0.1)',
        },
        line: {
          borderWidth: 3,
          borderColor: 'rgba(33, 150, 243, 1.0)',
          backgroundColor: 'rgba(33, 150, 243, 0.10)',
        },
      },
      scales: {
        yAxes: [{
          display: true,
          position: 'right',
          ticks: {
            display: false,
            mirror: true,
            padding: -10,
            maxTicksLimit: 5,
            labelOffset: 0,
          },
          gridLines: {
            display: true,
            color: '#f1f1f1',
            zeroLineColor: '#ddd',
            tickMarkLength: 0,
          },
        }],
        xAxes: [{
          display: true,
          ticks: {
            display: false,
          },
          gridLines: {
            display: false,
            color: '#f1f1f1',
            zeroLineColor: '#ddd',
            tickMarkLength: 1,
          },
        }],
      },
      legend: {
        display: false,
      },
      showLine: true,
      responsive: true,
      maintainAspectRatio: true,
      aspectRatio: 3
    },
});
</script>
{% endblock %}
