{% extends 'base.html' %}

{% block topbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="form-inline>
    {% include 'filter_search.html' %}
    <div class="flex-grow-1"></div>
    <div class="btn-group" role="group">
      <button id="openNewWorkoutDialog" class="btn btn-secondary my-2 my-sm-0" type="button">
        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </button>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
{% include 'workout/add_dialog.html' %}

<ul id="searchable" class="list-group list-group-flush">
{% for workout in workouts %}
  <li onclick="location.href='{{ workout.id }}';" class="list-group-item list-group-item-action">{{ workout.name }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>
$('.modal').modal({
  show: false,
  keyboard: false,
  backdrop: 'static'
})
$('#openNewWorkoutDialog').click(function() {
  $('.modal').modal('show');
});
</script>
{% endblock %}
