{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="loginDialog" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:600px">
    <div class="w3-container w3-border-bottom">
      <h3>Login</h3>
    </div>
    <form method="post">
      <div class="w3-container w3-section">
        <input name="username" class="w3-input w3-border w3-border-light-gray w3-margin-bottom" type="text" placeholder="Username" required>
        <input name="password" class="w3-input w3-border w3-border-light-gray" type="password" placeholder="Password" required>
      </div>
      <div class="w3-container w3-border-top">
        <button class="w3-button w3-round w3-blue w3-section w3-padding w3-right" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
document.getElementById('loginDialog').style.display='block';
</script>
{% endblock %}
