{% extends 'base.html' %}

{% block content %}
{% include 'general/prefs_dialog.html' %}

<ul id="searchable" class="w3-ul">
{% for equip in equipment %}
  <li class="padding-0 w3-border-light-gray">
    <div onclick="collapseEntry(this)"
      class="padding-16 pointer">
      {{ equip.equipment }}
      <i class="collapsable-icon icon fa fa fa-angle-down w3-right"></i>
    </div>
    <div class="collapsable w3-hide w3-border-top w3-border-light-gray">
      <div class="w3-bar padding-8">
        <a class="w3-bar-item w3-button w3-small w3-round w3-blue w3-text-white w3-right margin-4-x w3-right w3-disabled"
          href="#">
          <i class="icon fa fa fa-pencil"></i>
        </a>
        <a class="w3-bar-item w3-button w3-small w3-round w3-red w3-text-white w3-right margin-4-x w3-right w3-disabled"
          href="#">
          <i class="icon fa fa fa-trash"></i>
        </a>
      </div>
      <div class="padding-16-x">
        {{ equip.equipment }}
      </div>
      <div class="w3-margin-top w3-margin-bottom">
        <!-- placeholder for tags -->
      </div>
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/general/handle_dialog.js') }}"></script>
{% endblock %}
