{% extends 'base.html' %}

{% block topbar %}
<div class="bar w3-top w3-dark-grey padding-8-y">
  <div class="w3-bar">
    {% include 'title.html' %}
    <a onclick="document.getElementById('prefsDialog').style.display='block'" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right">
      <i class="icon fa fa-gear"></i>
    </a>
    <a id="toggleSearchbar" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right" onClick="toggleSearch()">
      <i class="icon fa fa-search"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
{% include 'prefs_dialog.html' %}

<ul id="searchable" class="w3-ul">
{% for equip in equipment %}
  <li class="padding-0">
    <div class="equipment-name w3-hover-light-gray padding-16">
      {{ equip.equipment }}
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
{% endblock %}
