{% extends 'base.html' %}

{% block topbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="form-inline>
    {% include 'filter_search.html' %}
    <div class="flex-grow-1"></div>
  </div>
</nav>
{% endblock %}

{% block content %}
<ul id="searchable" class="list-group list-group-flush">
{% for equip in equipment %}
  <li class="list-group-item list-group-item-action">{{ equip.equipment }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
