<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/w3pro.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/Chart.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Whiteboard :: {% block title %}{% endblock %}</title>
</head>
<body>

  {% include 'searchbar.html' %}

  {% block topbar %}{% endblock %}

  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}

  {% for message in get_flashed_messages() %}
    <div class="w3-panel w3-pale-red">
      <h6>ERROR</h6>
      <p>{{ message }}</p>
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-pale-red w3-hover-text-red w3-display-topright">&times;</span>
    </div>
  {% endfor %}

  <div class="main">
    {% block content %}{% endblock %}
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/lib/Chart.min.js') }}"></script>
{% block script %}{% endblock %}
</html>
