{% extends 'base.html' %}

{% block topbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  {% include 'title.html' %}
  <div class="flex-grow-1"></div>
  <div class="btn-group" role="group">
    <button class="btn btn-secondary my-2 my-sm-0" type="button">
      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
    </button>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="content">
...
</div>
{% endblock %}
