<div id="addScoreDialog" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:600px">
    <div class="w3-container w3-border-light-gray w3-border-bottom">
      <h3>Add workout score</h3>
    </div>
    <span onclick="closeAddScoreDialog()" class="w3-button w3-round-xxlarge w3-large w3-hover-white w3-hover-text-blue w3-display-topright">&times;</span>
    <form method="post" action="{{ url_for(request.endpoint, workout_id=workout.id) }}/score/add">
      <div class="w3-container w3-section">
        <input name="score" class="w3-input w3-border w3-border-light-gray w3-margin-bottom" type="text" placeholder="Score" required>
        <input name="datetime" class="w3-input w3-border w3-border-light-gray w3-margin-bottom" type="text" placeholder="dd.mm.YYYY HH:MM" value="{{ cur_format_time }}" required>
        <textarea name="note" class="w3-input w3-border w3-border-light-gray w3-margin-bottom" type="text" rows="3" placeholder="Note"></textarea>
        <input  name="rx" class="w3-check" type="checkbox" checked="checked">
        <label>Rx</label>
      </div>
      <div class="w3-container w3-border-light-gray w3-border-top">
        <button class="w3-button w3-round w3-blue w3-section w3-padding w3-right" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>
