<div id="deleteScoreDialog" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:600px">
    <div class="w3-container w3-border-light-gray w3-border-bottom">
      <h3>Delete score</h3>
    </div>
    <span onclick="closeDeleteScoreDialog()" class="w3-button w3-round-xxlarge w3-large w3-hover-white w3-hover-text-blue w3-display-topright">&times;</span>
    <form id="deleteScoreForm" method="get">
      <div class="w3-container w3-section">
        <p>Do you really want to delete the score?</p>
      </div>
      <div class="w3-container w3-border-light-gray w3-border-top">
        <button class="w3-button w3-round w3-red w3-text-white w3-section w3-padding w3-right" type="submit">Delete</button>
      </div>
    </form>
  </div>
</div>
