{% extends 'base.html' %}

{% block topbar %}
<div class="w3-top w3-dark-grey">
  <div class="w3-bar">
    {% include 'title.html' %}
    <a onclick="document.getElementById('prefsDialog').style.display='block'" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right">
      <i class="icon fa fa-gear"></i>
    </a>
    <a id="toggleSearchbar" href="#" class="w3-bar-item w3-button w3-text-white w3-hover-dark-gray w3-hover-text-blue w3-right" onClick="toggleSearch()">
      <i class="icon fa fa-search"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
{% include 'prefs_dialog.html' %}

<ul id="searchable" class="w3-ul w3-hoverable">
{% for movement in movements %}
  <li class="w3-hover-light-gray w3-padding-16">{{ movement.movement }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>
$('.modal').modal({
  show: false,
  keyboard: false,
  backdrop: 'static'
})
$('#showFilterDialog').click(function() {
  $('#prefsDialog').modal('show');
});
</script>
{% endblock %}
