{% extends 'base.html' %}

{% block topbar %}
<div class="btn-group" role="group">
  <button id="openSearchDialog" class="btn btn-secondary my-2 my-sm-0" type="button">
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
  </button>
  <button id="openFilterDialog" class="btn btn-secondary my-2 my-sm-0" type="button">
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
    </svg>
  </button>
</div>
{% endblock %}

{% block content %}
<ul class="list-group list-group-flush">
{% for movement in movements %}
  <li class="list-group-item list-group-item-action">{{ movement.movement }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block bottombar %}
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}workout">Workouts</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('index') }}movement">Movements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}equipment">Equipment</a>
  </li>
</ul>
{% endblock %}
