{% extends 'base.html' %}

{% block toolbar %}
  <div class="w3-dropdown-hover w3-right">
    <button class="w3-button w3-text-white w3-dark-gray w3-hover-dark-gray w3-hover-text-blue">
      <i class="icon fa fa-user-circle"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-hover-text-blue w3-border" style="right:0">
      <a onclick="openUpdatePwDialog()" class="w3-bar-item w3-button w3-text-dark-gray w3-hover-text-blue" href="#">Change password</a>
      <a href="{{ url_for(request.endpoint) }}auth/logout" class="w3-bar-item w3-button w3-text-dark-gray w3-hover-text-blue">Logout</a>
    </div>
  </div>
{% endblock %}

{% block content %}
{% include 'general/update_pw_dialog.html' %}

  <div class="w3-container">
   <p>test</p>
  </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/general/handle_dialog.js') }}"></script>
{% endblock %}
