{% if '/workout/' == request.path or '/movement/' == request.path or '/equipment/' == request.path or '/tag/' == request.path %}
<div class="w3-row w3-border-light-gray w3-border-bottom padding-8">
  <div class="w3-col w3-right" style="width:60px">
    <button onclick="openPrefsDialog()"
      class="w3-button w3-round w3-light-grey w3-text-dark-gray margin-8-x">
      <i class="icon fa fa-sort-alpha-asc"></i>
    </button>
  </div>
  <div class="w3-rest">
    <input id="searchbar"
      class="w3-input w3-round w3-border w3-light-gray w3-border-light-gray"
      type="text"
      placeholder="Search ..."
      onkeyup="doSearch()">
  </div>
</div>
{% endif %}
