<div id="updatePwDialog" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:600px">
    <div class="w3-container w3-border-light-gray w3-border-bottom">
      <h3>Change password</h3>
    </div>
    <span onclick="closeUpdatePwDialog()" class="w3-button w3-round-xxlarge w3-large w3-hover-white w3-hover-text-blue w3-display-topright">&times;</span>
    <form method="post" action="{{ url_for(request.endpoint) }}auth/passwd/update">
      <div class="w3-container w3-section">
        <input name="password1" class="w3-input w3-border w3-border-light-gray w3-margin-bottom" type="password" placeholder="New password" required>
        <input name="password2" class="w3-input w3-border w3-border-light-gray" type="password" placeholder="New password (repeat)" required>
      </div>
      <div class="w3-container w3-border-light-gray w3-border-top">
        <button class="w3-button w3-round w3-blue w3-section w3-padding w3-right" type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
